<html>
    <head>
        <meta charset="UTF-8">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="../models/Product.js"></script>
        <script src="../models/Cart.js"></script>
        <script langage="text/javascript" src="../controllers/code.js"></script>
        <link href="../assets/css.css" rel="stylesheet" />
    </head>
    <body>

        <div id="main">


        </div>

        <div id="cart">
            <div id="cart_title">CART</div>
            <div id="cart_content"></div>
        </div>

    </body>
</html>
